body {
  padding-top:50px;
  padding-bottom: 40px;
  margin-left:200px;
  background-color: #FAFAFA;
  -webkit-transition: margin 500ms ease;
  -moz-transition: margin 500ms ease;
  -ms-transition: margin 500ms ease;
  -o-transition: margin 500ms ease;
  transition: margin 500ms ease;
}
@media (max-width: 980px) {
  /* Enable use of floated navbar text */
  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }
  .navbar-inner { 
    background-color: #177BBB;
  }  
}
@media (max-width: 979px) {
  .navbar-fixed-top { 
    position:fixed; 
  }
  .navbar-inner { 
    background-color: #177BBB;
  }  
}
.navbar-inverse .brand {width:180px; color:#fff; margin: 5px;}
.brand img {float:left; margin:2px 10px 0 0; }
.brand .label { 
  position:relative; 
  left:10px; 
  top:-3px; 
  font-weight:normal; 
  font-size:9px;
  background:#666;
  -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.7);
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.edit .demo { 
  margin-left:0px; 
  margin-top:20px; 
  padding:30px 15px 15px; 
  border: 1px solid #DDDDDD; 
  border-radius: 4px; 
  position:relative; 
  word-wrap: break-word;
  background-color: #FFF;
  min-height: 443px;
}
.edit .demo:after {
  background-color: #F5F5F5;
  border: 1px solid #DDDDDD;
  border-radius: 4px 0 4px 0;
  color: #9DA0A4;
  content: "Container";
  font-size: 12px;
  font-weight: bold;
  left: -1px;
  padding: 3px 7px;
  position: absolute;
  top: -1px;
}
  /*#E0E4E9 */
.sidebar-nav {
  position:fixed;
  width:200px;
  left:0px;
  bottom:0;
  top:51px;
  background-color:#E0E4E9;
  padding: 9px 0; z-index:10;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.sidebar-nav .nav-header { 
  cursor:pointer; font-size:14px; 
  color:#999; 
  font-family: "Hiragino Sans GB","Microsoft YaHei",微软雅黑,Arial;
/*   text-shadow:0 1px 0 rgba(0, 0, 0, 0.3); */
}
.sidebar-nav .nav-header span.label { font-size:10px; /*padding-bottom:0;*/ position:relative; top:-1px;}
.sidebar-nav .nav-header i.icon-plus {}
.sidebar-nav .nav-header .popover {color:#999; text-shadow:none;}

.popover-info {position:relative;}
.popover-info .popover {display:none; top: -12.5px; left:15px; }
.popover-info:hover .popover {display:block; opacity:1; width:400px;}
.popover-info:hover .popover .arrow {top:23px;}

.sidebar-nav .accordion-group { border:none; }
.boxes {}
.sidebar-nav li { line-height:25px; }
.sidebar-nav .box { 
  margin-left: 20px;
  line-height:25px; 
  width:150px; 
  height:25px; 
}
.sidebar-nav .preview { display: block; color:#666; font-size:12px; line-height:22px;}
/*.sidebar-nav .preview input { width:90px; padding:0 10px; background:#bbb; font-size:10px; color:#999; line-height:20px; height:20px; position:relative; top:-1px; }
*/
.sidebar-nav .preview input { 
  position: relative; 
  top: -1px; 
  width: 60px; 
  padding: 0 10px;
  margin-left: 20px;
  background: #bbb; 
  font-size: 10px; 
  color: #808080; 
  background-color:  #FAFAFA;
  line-height: 20px; 
  height: 20px; 
 }


.sidebar-nav .view { display: none; }
.sidebar-nav .remove,
.sidebar-nav .configuration { display: none; }

.sidebar-nav .boxes { display:none;}

ul#menu-layoutit {
  float: right;
  margin-top: 3px;
}

.demo .preview { display: none; }
.demo .box .view { display: block; padding-top:30px;}


.ui-draggable-dragging .view { display:block;}
/*.demo .ui-sortable-placeholder { outline: 5px dotted #ddd; visibility: visible!Important; border-radius: 4px; }*/
.ui-sortable-placeholder {height:125px; outline: 1px dashed #ddd;visibility: visible!Important; border-radius: 4px;}
.edit .drag { position: absolute; top: 0;right: 0; cursor: pointer; }

.box,
.lyrow { position:relative;}

.edit .demo .lyrow .drag { top:5px; right:80px; z-index:10; }
.edit .demo .column .box .drag { top:5px; }
.edit .demo .column .box .configuration {position: absolute; top: 3px; right: 140px;white-space:nowrap; }
.edit .demo .remove { position: absolute; top: 5px; right: 5px; z-index:10; }
.demo .configuration {
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.demo .drag, .demo .remove {
  filter: alpha(opacity=20); opacity: 0.2;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.demo .lyrow:hover > .drag, 
.demo .lyrow:hover > .configuration, 
.demo .lyrow:hover > .remove,
.demo .box:hover .drag, 
.demo .box:hover .configuration, 
.demo .box:hover .remove { filter: alpha(opacity=100); opacity: 1; }
.edit .demo .row-fluid:before {
/*   background-color: #F5F5F5;
border: 1px solid #DDDDDD; */
  border-radius: 4px 0 4px 0;
  color: #9DA0A4;
  content: "Row";
  font-size: 12px;
  font-weight: bold;
  left: -1px;
  line-height:2;
  padding: 3px 7px;
  position: absolute;
  top: -1px;
}
.demo .row-fluid {
   background-color: #F9F9FA; 

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
/*   -webkit-box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
-moz-box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1); */
  border: 1px solid #E0E4E9;
  border-radius: 4px 4px 4px 4px;
  margin: 15px 0;
  position: relative;
  padding: 25px  14px 0;
}
.edit .column:after {
/*   background-color: #FBFBFB;
border: 1px solid #F5F5F5; */
  border-radius: 4px 0 4px 0;
  color: #9DA0A4;
  content: "Column";
  font-size: 12px;
  font-weight: bold;
  left: -1px;
  padding: 3px 7px;
  position: absolute;
  top: -1px;
}
.column {
  background-color: #FFFFFF;
  border: 1px solid #FDFDFD;
  border-radius: 4px 4px 4px 4px;
  margin: 15px 0;
  padding: 39px 19px 24px;
  position: relative;
}

/* preview */
body.devpreview { margin-left:0px;}
.devpreview .sidebar-nav { 
  left:-200px;
  -webkit-transition: all 0ms ease;
  -moz-transition: all 0ms ease;
  -ms-transition: all 0ms ease;
  -o-transition: all 0ms ease;
  transition: all 0ms ease;
}
.devpreview .drag, .devpreview .configuration, .devpreview .remove { display:none !Important; }
.sourcepreview .column, .sourcepreview .row-fluid, .sourcepreview .demo .box {
  margin:0px 0;
  padding:0px;
  background:none;
  border:none;
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.00);
  -moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.00);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.00);
}
.devpreview .demo .box, .devpreview .demo .row-fluid { padding-top:0; background:none; }
.devpreview .demo .column { padding-top:19px; padding-bottom:19px; }
#download-layout { display: none }
#editorModal textarea,
#downloadModal textarea { width:100%;height:280px;resize: none;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box; }
#editorModal {width:640px;}
a.language-selected { font-style: italic; font-weight: bold; }

.lyrow .ui-draggable {
  display: block;
}

.w100 {width:100px!important;}


.fl {
  float: left;
  display: inline;
}

.page{width:100%;margin:0 auto;text-align:center;}
.page .allNum,.page .pageList,.page .setPage{}



/* 翻页自定义 */
.page,.pageL{ color:#999;text-align:center;font-family:Arial,"Microsoft YaHei";}
.page li,.pageL li{float:left; display:inline; margin:0 2px; position:relative;}
.page li span,.page li a,.pageL li span, .pageL li a{float:left; display:inline;width:32px;text-align:center; text-decoration:none; height:32px; line-height:30px; color:#333; border:1px solid #fff; background:#FFF; font-size:13px; overflow:hidden; text-align:center;}
.page li a.dis,.pageL li a.dis{color: #ccc;}
.page li a:hover,.pageL li a:hover { color:#499ad1; background:#fff; border:1px solid #499ad1;}
.page li a.cur:hover{color:#ffffff!important}
.page li a:active,.pageL li a:active{ border:1px solid #0367a7;}
.page li a.cur,.pageL li a.cur{ color:#FFF; background:#499ad1; border:1px solid #499ad1;}
.page .prev a,.page .next a { /*padding-top:6px; height:22px;*/}
.pageL li{ margin:0 4px;}
.pageL li span, .pageL li a{ width:26px; height:26px; line-height:28px; font-size:14px;}
.allNum{margin-left:0px;margin-top:3px;line-height:34px;display:inline-block;}
.allNum em{font-style:inherit;color:#333333;margin-left:5px;margin-right:5px;}
.pageList{margin-top:3px;margin-bottom:0px;display:inline-block;padding-left:20px;}
.pageList em{font-style:inherit;font-size:6px;height:32px;line-height:32px;}

.setPage{margin-left:20px;margin-top:3px;line-height:34px;display:inline-block;}
/*模拟select*/
.pageSelect {line-height:1;}
.f6{font-size:6px;}
.pageSelect .chosen-container-single .chosen-single{padding-left:0px;}
.pageSelect .chosen-container .chosen-results li{width:100%;text-align:left;text-indent:0px;}
.chosen-container-single .chosen-single div b{right:1px;}

.pg_bk,.pg_go{border:1px solid #cccccc;padding:0;outline:0;border-radius: 2px!important;color:#666666}
.pageSelect .chosen-container-single .chosen-single span{text-align:left;padding-left:5px;line-height:18px;color:#999999!important;}
.pg_bk:focus,.pg_go:focus{border-color:#54aae3;}
.pg_bk{width:30px;height:20px;line-height:18px;border-radius: 2px!important;}
.btn_search,.pg_go{height:20px;line-height:18px;}
.pg_go{width:38px;line-height:18px;font-size:12px;}
.btn_search {height:30px; line-height:18px;}
.pg_show,.pg_show .chooseTxt,.pg_show .selectChoose li{height:18px;line-height:18px;}
.pg_show .chooseBtn{width:20px;height:20px;top:-7px;}
.pg_show .selectChoose{top:19px;}
.pg_show .selectChoose li{float:none;display:block;margin:0;}
.w43{width:43px;}



/* 表格样式重置 */
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{border:1px solid #ebebeb;color:#666666;}
.table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>th{color:#999999;}
.table-bordered>tbody>tr>td,.table-bordered>tfoot>tr>td,.table-bordered>thead>tr>td{color:#666666;line-height:20px;}

.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th{border:1px solid #ebebeb;color:#666666;}
.table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>th,.table>thead:first-child>tr:first-child>th{color:#999999;}
.table>caption+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>td,.table>thead:first-child>tr:first-child>td{color:#666666;}

.table-striped>tbody>tr:nth-of-type(odd){background:#ffffff;}
.table-condensed.tableCedu>tbody>tr>td, .table-condensed.tableCedu>tbody>tr>th, .table-condensed.tableCedu>tfoot>tr>td, .table-condensed.tableCedu>tfoot>tr>th, .table-condensed.tableCedu>thead>tr>td, .table-condensed.tableCedu>thead>tr>th{padding:10px 5px 9px 5px;}
.table-striped>tbody>tr:hover{background:#f3fafe;}
.table.table-bordered thead > tr > th{padding:11px 5px 10px 5px;}

.noneOvh{display:none!important;}
.dataTables_wrapper .table>caption+thead>tr:first-child>th,
.dataTables_wrapper .table>colgroup+thead>tr:first-child>th,
.dataTables_wrapper .table>thead:first-child>tr:first-child>th{border-top:0px;border-left:0px;}

.mr5 select {
  padding: 0;
  margin: 0;
}

.mr5 input {
  padding: 0;
}
